<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<header>
    <h1>Master Schedule</h1>
</header>
<body>
<main>
    <p>Ever wondered which classes you can take next year? Want to know which classes you can take and which ones you can't?
        Well, look no further! This website can help you figure out which classes you can take during
        your time here at Lone Peak High School. Please note that this is not to schedule your classes,
        but rather a tool to help you figure out which classes you can take at Lone Peak. </p>
    <div class="form">
    <form>
        <fieldset>
            <label>Please enter the classes you wish to take here at Lone Peak (up to 10)</label><br>
            <label><input type="text" name="class1"></label><br>
            <label><input type="text" name="class2"></label><br>
            <label><input type="text" name="class3"></label><br>
            <label><input type="text" name="class4"></label><br>
            <label><input type="text" name="class5"></label><br>
            <label><input type="text" name="class6"></label><br>
            <label><input type="text" name="class7"></label><br>
            <label><input type="text" name="class8"></label><br>
            <label><input type="text" name="class9"></label><br>
            <label><input type="text" name="class10"></label><br>
            <input type="submit" value="submit" id="submit">
        </fieldset>
        </form>
    </div>
    <div id="class_information">
        <section>
            <button id="reset">Reset</button>
        </section>
    </div>
    <!--I'll try to add javascript to this later so this can stay up to date. All placeholders for now.-->
    <h2>Arena scheduling for 2025-2026 Seniors opens on April 9, 2025 at 2:45 P.M.</h2>
    <h2>Arena scheduling for 2025-2026 Juniors opens on April 16, 2025 at 2:45 P.M.</h2>
    <h2>Arena scheduling for 2025-2026 Sophomores opens on April 23, 2025 at 2:45 P.M.</h2>
    <p>If you have any questions, please talk to your counselor down in the counseling center. They're happy to help.</p>
</main>
<script src="{{ url_for('static', filename='scripts.js') }}" type="module"></script>
<footer>
    <p>To visit the official school website, click <a href='https://lphs.alpineschools.org/'>here</a></p>
</footer>
</body>
</html>
